head
  title Обязательно прочти!
  
  link(rel='stylesheet', href='./styles.css')
  
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description" content="Невероятный список книг, которые стоит прочитать кажому разработчику")

  body
    main(class="main")
      != md(mustread)

      p(class="github") Ставьте звездочки и присылайте пулл-реквесты на <a href="https://github.com/igorkamyshev/mustread">GitHub</a>
