head
  title Обязательно прочти!
  
  link(rel='stylesheet', href='./styles.css')
  
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="description" content="Невероятный список книг, которые стоит прочитать кажому разработчику")

  body
    main
      p Тут будет список 🤗
